  <!--About Four Start-->
<section class="about-four">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-5">
        <div class="about-four__left">
          <div class="about-four__img">
            <img src="assets/images/resources/about-four-img-1.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="about-four__right">
          <div class="section-title text-left">
            <span class="section-title__tagline">get to know us</span>
            <h2 class="section-title__title">Activities & <span>Solutions</span> <br> for Reducing Screen Time</h2>

          </div>
          <p class="about-four__text">Welcome to Screen-less Creative Kids - a community dedicated to supporting parents in managing and reducing screen time for their children. Our platform offers a comprehensive range of resources, including educational content on the risks of excessive screen time, indoor and outdoor activities to promote healthy alternatives, and a curated selection of educational games. We also provide a community forum where parents can connect, share experiences, and seek advice on navigating the challenges of screen time management. Our goal is to empower families with the tools and knowledge needed to foster balanced lifestyles and healthy digital habits for children.</p>
          <ul class="list-unstyled about-four__points">
            <li>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <div class="text">
                <p>Interactive Elements: Engaging quizzes and surveys to educate parents on screen time risks and encourage proactive management strategies.</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <div class="text">
                <p>Resource Library: A vast collection of articles, e-books, and videos offering insights into child development, effective parenting strategies, and alternative activities to screen time.</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <div class="text">
                <p>Workshops and Webinars: Regularly scheduled online events featuring experts in child psychology, digital wellness, and educational activities, providing parents with practical advice and hands-on strategies.</p>
              </div>
            </li>
          </ul>
          <ul class="list-unstyled about-four__points-two">
            <li>
              <div class="icon">
                <i class="icon-team"></i>
              </div>
              <div class="text">
                <p>Engaging <br> Activities</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="icon-growth"></i>
              </div>
              <div class="text">
                <p>Screen Time <br> Solutions</p>
              </div>
            </li>
          </ul>
          <div class="about-four__btn-box">
            <a href="shop.html" class="thm-btn about-four__btn">Explore Our Products</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--About Four End-->
<!--Why Choose One Start-->
<section class="why-choose-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="why-choose-one__left">
          <div class="section-title text-left">
            <span class="section-title__tagline">Our Advantages</span>
            <h2 class="section-title__title">
              Why <span>Choose</span>
              <br> Our Screen Time Solutions?
            </h2>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="why-choose-one__right">
          <ul class="why-choose-one__list list-unstyled">
            <li>
              <div class="why-choose-one__single">
                <div class="icon">
                  <span class="icon-engaging-activities"></span>
                </div>
                <div class="title">
                  <h3>
                    <a href="activities.html">
                      Engaging
                      <br> Activities
                    </a>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="why-choose-one__single">
                <div class="icon">
                  <span class="icon-expert-advice"></span>
                </div>
                <div class="title">
                  <h3>
                    <a href="expert-advice.html">
                      Expert
                      <br> Guidance
                    </a>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="why-choose-one__single">
                <div class="icon">
                  <span class="icon-family-support"></span>
                </div>
                <div class="title">
                  <h3>
                    <a href="family-support.html">
                      Family
                      <br> Support
                    </a>
                  </h3>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-brand></app-brand>

</section>
