     <!-- Main Sllider Four Start -->
<section class="main-slider-four">
  <div class="main-slider-four__carousel owl-carousel owl-theme thm-owl__carousel"
       data-owl-options='{
       "loop" : true,
       "items" : 1,
       "navText" : ["<span class=\"delogis-icons-two-left-arrow\"></span>","<span class=\"delogis-icons-two-right-arrow\"></span>"],
                    "margin": 0,
                    "dots": false,
                    "nav": true,
                    "animateOut": "fadeOut",
                    "animateIn": "fadeIn",
                    "active": true,
                    "smartSpeed": 1000,
                    "autoplay": true,
                    "autoplayTimeout": 7000,
                    "autoplayHoverPause": false
                }'>
                <div class="item">
                    <div class="main-slider-four__item">
                        <div class="main-slider-four__bg" style="background-image: url(assets/images/backgrounds/slider-4-2.jpg);">
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                        </div>
                        <div class="main-slider-four__overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="main-slider-four__content">
                                        <h2 class="main-slider-four__title">Screen-less Creative Kids</h2><!-- slider-title -->
                                        <p class="main-slider-four__text">
                                            Empowering Parents to Reclaim Family Time <br> and Reduce Screen Addiction!,
                                        </p>
                                        <div class="main-slider-four__btn">
                                            <a href="make-appointment.html" class="thm-btn thm-btn--two">Get Started</a><!-- slider-btn -->
                                            <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                                                <span class="delogis-icons-two-play"></span>
                                                <i class="ripple"></i>
                                            </a><!-- video-btn -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- item -->
                <div class="item">
                    <div class="main-slider-four__item">
                        <div class="main-slider-four__bg" style="background-image: url(assets/images/backgrounds/slider-4-1.jpg);">
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                            <div class="main-slider-four__bg__color"></div>
                        </div>
                        <div class="main-slider-four__overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="main-slider-four__content">
                                        <h2 class="main-slider-four__title">Screen-less Creative Kids</h2><!-- slider-title -->
                                        <p class="main-slider-four__text">
                                            Empowering Parents to Reclaim Family Time <br> and Reduce Screen Addiction!,
                                        </p>
                                        <div class="main-slider-four__btn">
                                            <a href="make-appointment.html" class="thm-btn thm-btn--two">Get Started</a><!-- slider-btn -->
                                            <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                                                <span class="delogis-icons-two-play"></span>
                                                <i class="ripple"></i>
                                            </a><!-- video-btn -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- item -->
            </div>
</section>
<!--Main Sllider Four Start -->
<app-brand></app-brand>
