<p>{{name}} {{num}}</p>
<img [src]="imgUrl" width="150" height="150" />
<button (click)="changeName()">change</button>
<input type="number" value="{{num}}" [(ngModel)]="num" />

<!--<p *ngSwitch="clur"></p>
<p *ngSwitchCase="'blue'">blue</p>
<p *ngSwitchCase="'red'">red</p>-->



<h1 [ngStyle]="{ 'background-color':userObj.color}">{{userObj.name}}</h1>
<div *ngFor="let item of usersArray" [ngClass]="{'greenColor':item.grade>15, 'redColor':item.grade<=14}">
  <p>{{item.name}}</p>
  <p>{{item.grade}}</p>
  <p>{{item.color}}</p>
  <br />
</div>
