 <!--Contact Page Start-->
<section class="contact-page">
  <div class="container">
    <div class="section-title text-center">
      <span class="section-title__tagline">Contact with us</span>
      <h2 class="section-title__title">Feel Free to Get <span>in</span> <br> Touch with us</h2>
    </div>
    <div class="contact-page__form-box">
      <form action="https://bracketweb.com/delogis-html/main-html/assets/inc/sendemail.php" class="contact-page__form contact-form-validated"
            novalidate="novalidate">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="contact-page__form-input-box">
              <input type="text" placeholder="Your Name" name="name">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="contact-page__form-input-box">
              <input type="email" placeholder="Email Address" name="email">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="contact-page__form-input-box">
              <input type="text" placeholder="Phone" name="Phone">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="contact-page__form-input-box">
              <select class="selectpicker" aria-label="Default select example">
                <option selected>Select Service</option>
                <option value="1">Select Service 01</option>
                <option value="2">Select Service 02</option>
                <option value="3">Select Service 02</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="contact-page__form-input-box text-message-box">
              <textarea name="message" placeholder="Write  a Message"></textarea>
            </div>
            <div class="contact-page__form-btn-box">
              <button type="submit" class="thm-btn contact-page__form-btn">Send a Message</button>
            </div>
          </div>
        </div>
      </form>
      <div class="result"></div>
    </div>
  </div>
</section>
<!--Contact Page End-->
<!--Contact Details Start-->
<section class="contact-details">
  <div class="container">
    <div class="contact-details__inner">
      <div class="contact-details__inner-content">
        <div class="contact-details__shape-1 float-bob-y">
          <img src="./assets/images/shapes/contact-details-shape-1.png" alt="">
        </div>
        <ul class="list-unstyled contact-details__list">
          <li>
            <div class="icon">
              <span class="icon-help"></span>
            </div>
            <div class="content">
              <p>Have Question?</p>
              <h4><a href="tel:926668880000">+92 (666) 888 0000</a></h4>
            </div>
          </li>
          <li>
            <div class="icon">
              <span class="icon-mailbox"></span>
            </div>
            <div class="content">
              <p>Write Email</p>
              <h4><a href="mailto:needhelp@company.com">needhelpcompany.com</a></h4>
            </div>
          </li>
          <li>
            <div class="icon">
              <span class="icon-maps-and-flags"></span>
            </div>
            <div class="content">
              <p>Visit Center</p>
              <h4>66 Broklyn Golden Street. USA</h4>
            </div>
          </li>
          <li>
            <div class="contact-details__social">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--Contact Details End-->
<!--Google Map Two Start-->
<section class="google-map-two">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
          class="google-map__two" allowfullscreen></iframe>

</section>
<!--Google Map Two End-->
