    <!--Brand Two Start-->
<section class="brand-two">
  <div class="container">
    <div class="brand-two__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
         "loop" : true,
         "autoplay" : true,
         "margin" : 30,
         "nav" : true,
         "dots" : false,
         "smartSpeed" : 500,
         "autoplayTimeout" : 10000,
         "navText" : ["<span class=\"delogis-icons-two-chroven-left\"></span>","<span class=\"delogis-icons-two-chroven-right\"></span>"],
                    "responsive": {
                        "0": {
                            "items": 2
                        },
                        "768": {
                            "margin": 50,
                            "items": 3
                        },
                        "992": {
                            "margin": 50,
                            "items": 4
                        },
                        "1200": {
                            "margin": 100,
                            "items": 5
                        }
                    }
                    }'>
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="brand-two__image">
                            <img src="assets/images/brand/brand-2-1.png" alt="delogis">
                        </div>
                    </div><!-- /.item -->
                </div>
  </div>
</section>
<!--Brand Two End-->
